<!-- TITLE -->
<div fxLayout="column">

    <div style="margin: 2vh;" fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxLayoutGap="2vh">
        <h2>TEACHING RESOURCES</h2>
    </div>

    <div style="margin: 2vh;" fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxLayoutGap="2vh">
        
        <div fxLayout="column" fxLayout.sm="row" fxLayout.xs="row" fxFlex="33%"  fxLayoutGap="2vh">
        
            <mat-card class = "elevated">
                <mat-card-header>
                    <div mat-card-avatar class = "tp-header-image"></div>
                    <mat-card-title>HTML5</mat-card-title>
                    <mat-card-subtitle>HTML Basics</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src = "https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg" alt = "Learn HTML5">
                <mat-card-content>
                    <p>
                       HTML5 is the next major revision of the HTML standard superseding
                       HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for
                       structuring and presenting content on the World Wide Web.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div fxLayout="column" fxLayout.sm="row" fxLayout.xs="row" fxFlex="33%">
            <mat-card class = "elevated">
                <mat-card-header>
                    <div mat-card-avatar class = "tp-header-image"></div>
                    <mat-card-title>HTML5</mat-card-title>
                    <mat-card-subtitle>HTML Basics</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src = "https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg" alt = "Learn HTML5">
                <mat-card-content>
                    <p>
                       HTML5 is the next major revision of the HTML standard superseding
                       HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for
                       structuring and presenting content on the World Wide Web.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        
        <div fxLayout="column" fxLayout.sm="row" fxLayout.xs="row" fxFlex="33%">
            <mat-card class = "elevated">
                <mat-card-header>
                    <div mat-card-avatar class = "tp-header-image"></div>
                    <mat-card-title>HTML5</mat-card-title>
                    <mat-card-subtitle>HTML Basics</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src = "https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg" alt = "Learn HTML5">
                <mat-card-content>
                    <p>
                       HTML5 is the next major revision of the HTML standard superseding
                       HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for
                       structuring and presenting content on the World Wide Web.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
