<div class="container card_container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutWrap fxLayoutGap="2vh" fxLayoutAlign="center">
  <div fxLayout="column" fxLayout.xs="row" fxFlex="33%">
    <mat-card class="elevated">
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="12%">
          <a href= "interest_code"><mat-icon style="font-size:32px">code</mat-icon></a>
        </div>
        <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
          <h3>CODE</h3>
        </div>
      </div>
      <p>Let me show you some projects I'm proud of.</p>
    </mat-card>
  </div>
  <div fxLayout="column" fxLayout.xs="row" fxFlex="33%">
    <mat-card class="elevated" >
      <div fxLayout="row">
        <div fxLayout="column" fxLayout.sm="row" fxFlex="12%">
          <a href="interest_music"><mat-icon style="font-size:32px">library_music_outline</mat-icon></a>
        </div>
        <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
          <h3>MUSIC</h3>
        </div>
      </div>
      <p>I was raised around music. Here's some of mine.</p>
    </mat-card>
  </div>
  <div fxLayout="column" fxLayout.xs="row" fxFlex="33%">
    <mat-card class="elevated">
      <div fxLayout="row">
        <div fxLayout="column" fxLayout.sm="row" fxFlex="12%">
          <a href="interest_community"><mat-icon style="font-size:32px">group_outline</mat-icon></a>
        </div>
        <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
          <h3>TEACHING</h3>
        </div>
      </div>
      <p>I Love to Teach. Here's some of my resources.</p>
    </mat-card>
  </div>
</div>
